@import 'mixins';
@import "colors";

$font-sizes: (
        h1: 2,
        h2: 1.5,
        h3: 1.2,
);
@include rem-font-sizes($font-sizes);


.app-layout {
  font-family: "Comic Sans MS", serif;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(2rem, 3rem) 80vh minmax(2rem, 3rem));
  padding: 0 20px;
  gap: 5px;
}


.navBar {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;


}


main {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;

}



.container-table {
  justify-content: center;
  display: flex;
  flex-direction: column;
 // margin: 0 3rem;
//padding: 0 5rem;
}
.menu {
  display: flex;
  justify-content: space-between;
  background-color: #375280;
 height: 2.5rem;
  color: #f1f1f1;
padding: 0 1rem;
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    .delete-button {
      background-color: red;
      color: white;
      margin-left: 10px;
      text-decoration: none;
      display: flex; justify-content: center;
      padding: 0 5px;
    }

    .add-button {
      background-color: green;
      color: white;
      margin-left: 10px;
      text-decoration: none;
      display: flex; justify-content: center;
      padding: 0 5px;
    }
  }
  p{

  }


  button {
    margin: 0;
    border-radius: 3px;
    width: auto;
    height: 25px;
    border-color: transparent;
    color: #ffffff;
    background-color: #375280;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: #28415d;
    }
  }
}

table {
  padding: 0 20px;
  margin-top: 20px;
  border-collapse: collapse;
  //width: 100%;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);


  thead {
    background: $primary-color;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    //background-color: $primary-color;
    color: $light-color;
  }

  .button-actions {
    display: flex;
    justify-content: center;
  }

  button {
    margin: 5px;
    border-radius: 3px;
    width: 60px;
    height: 25px;
    border-color: transparent;
    color: #28415d;
    background-color: transparent;
    cursor: pointer;
    // font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;


  }
}

.intro-page {
  display: flex;
  flex-direction: column;
  width: 34rem;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
  color: $primary-color;
  padding: 0 20px;
  text-underline: none;

  nav {
    //margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-link {
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
  padding: 6px 12px;
  margin: 0 4px;
  color: #333;
  background-color: #f5f5f5;
  //border: 1px solid #ddd;
  cursor: pointer;
}

.pagination-link:hover {
  background-color: #ddd;
}

.pagination-link.active {
  background-color: #337ab7;
  color: #fff;
  border-color: #337ab7;
}

.container-form{
  display: grid;
place-items: center;

//  grid-template-rows:25px auto;
}

form{
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
  padding: 15px;

 width: 25rem;
  display: grid;
  grid-auto-columns: auto;
  grid-template-rows: repeat(5,2.7rem);
  grid-gap: 10px;
p{
  font-size: large;
  font-weight: 700;
}
  input{
border-color: transparent;
    border-bottom-color: $primary-color;
   // color: whitesmoke;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
  }
  button{
    background: $primary-color;
    color: whitesmoke;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
  }

}

